numpy==1.26.4
scipy==1.11.4
pvlib==0.10.4
pyomo==6.7.1
stable-baselines3==2.3.0
gymnasium==0.29.1
shap==0.45.0
pandas==2.2.2
pdfplumber==0.10.3
fastapi==0.110.0
uvicorn==0.29.0
python-jose==3.3.0
bcrypt==4.1.2
python-multipart==0.0.9
sqlalchemy==2.0.30
python-dotenv==1.0.1
pytest==8.2.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
apscheduler==3.10.4
pydantic-settings==2.2.1
psycopg2==2.9.9
aiofiles==23.2.1
pydantic[email]==2.7.1
pymupdf==1.24.4
pypdf2==3.0.1
